Repository amrnet/amrnet: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

import Papa from 'papaparse/papaparse.js';
  client/src/components/Elements/DownloadData/DownloadData.js
Due: frontend

"papaparse": "5.4.1",
  package.json
Due: none

package
  client/craco.config.js
  package.json
Due: none

senterica ST
  client/src/locales/en.json
  client/src/util/graphCards.js
Due: frontend

remove ST in global overview
  client/src/components/Elements/Map/Map.js
Due: frontend

missing header
  client/src/locales/en.json
Due: frontend

Switch API endpoint to Heroku URL
  client/src/constants.js
Due: frontend

Refactor drug lists and remove unused report info texts
  client/src/components/Elements/DownloadData/PDFPreviewModal.js
Due: frontend

Refactor and clean up codebase
  client/src/components/About/Team/TeamCard.js
  client/src/components/Dashboard/filters.js
  client/src/components/Elements/ContinentGraphs/BubbleGeographicGraph/BubbleGeographicGraph.js
  client/src/components/Elements/DownloadData/DownloadData.js
  client/src/components/Elements/Graphs/BubbleHeatmapGraph2/BubbleHeatmapGraph2.js
  client/src/components/Elements/Graphs/DrugResistanceGraph/DrugResistanceGraph.js
  client/src/components/Elements/Graphs/OLD_BubbleHeatmapGraph/BubbleHeatmapGraph.js
  client/src/components/Elements/Graphs/OLD_BubbleHeatmapGraph/BubbleHeatmapGraphMUI.js
  client/src/components/Elements/Map/MapActions/DownloadMapSS.js
  client/src/components/Elements/Map/MapFilters/MapFilters.js
  client/src/components/UserGuide/UserGuide.js
  client/src/locales/en.json
  client/src/util/drugs.js
  client/src/util/reportInfoTexts-v2.js
  client/src/util/reportInfoTexts.js
  client/src/utils/ecoliPerformanceFix.js
  docs/locale/es/LC_MESSAGES/usage.po
  docs/locale/fr/LC_MESSAGES/usage.po
  docs/locale/pt/LC_MESSAGES/usage.po
  docs/usage.rst
  locales/es/LC_MESSAGES/usage.po
  locales/fr/LC_MESSAGES/usage.po
  locales/pt/LC_MESSAGES/usage.po
Due: frontend

feat: update database version and enhance IDB functionality with new indexes and worker implementation
  client/src/idb.ts
  client/src/utils/quickPaginationFix.js
  client/src/workers/idbWorker.js
  client/src/workers/idbWorkerImpl.js
  routes/api/api.js
  routes/api/optimized.js
  scripts/create-indexes.js
Due: frontend, backend

feat: update projections in API endpoints to include TRAVEL and PMID fields
  routes/api/api.js
Due: backend

ecoli, decoli, shige added missing ContinentPGraphCard
  client/src/components/Dashboard/Dashboard.js
  client/src/components/Elements/ContinentPathotypeGraphs/ContinentPathotypeGraphs.js
Due: frontend

feat: implement server-side aggregation endpoints for AMRnet
  client/src/components/Dashboard/Dashboard.js
  routes/api/aggregations.js
  server.js
Due: frontend, backend

fix: correct API endpoint configuration for production use
  client/src/constants.js
Due: frontend

Path conditions:
  frontend: any of: client/src/, but not: client/src/reportWebVitals.js, client/src/setupTests.js, client/src/registerServiceWorker.js, **/*.test.js, **/*.spec.js, **/node_modules/**, scripts/**, docs/**, assets/**
  backend: any of: routes/, models/, controllers/, config/, services/, but not: client/src/reportWebVitals.js, client/src/setupTests.js, client/src/registerServiceWorker.js, **/*.test.js, **/*.spec.js, **/node_modules/**, scripts/**, docs/**, assets/**
