Repository amrnet/amrnet: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Update version to 1.1.3, enhance data handling in Dashboard components, and add SwitchColour component for color accessibility mode
  client/package.json
  client/src/components/Dashboard/Dashboard.js
  client/src/components/Elements/Graphs/DistributionGraph/DistributionGraph.js
  client/src/components/Elements/Graphs/DrugResistanceGraph/DrugResistanceGraph.js
  client/src/components/Elements/Graphs/MarkerTrendsGraph/MarkerTrendsGraph.js
  client/src/components/Elements/Graphs/TrendsGraph/TrendsGraph.js
  client/src/components/Elements/SwitchColour/SwitchColour.js
  client/src/components/Elements/SwitchColour/SwitchColourMUI.js
  client/src/stores/slices/dashboardSlice.ts
  client/src/stores/slices/graphSlice.ts
  client/src/util/colorHelper.js
  client/tsconfig.json
  package.json
Due: frontend

feat: Enhance Marker Trends Graph with Y-axis Slider and Color Pattern Toggle
  client/package.json
  client/src/components/Dashboard/Dashboard.js
  client/src/components/Dashboard/filters.js
  client/src/components/Elements/DownloadData/DownloadData.js
  client/src/components/Elements/Graphs/BubbleHeatmapGraph2/BubbleHeatmapGraph2.js
  client/src/components/Elements/Graphs/BubbleMarkersHeatmapGraph/BubbleMarkersHeatmapGraph.js
  client/src/components/Elements/Graphs/ConvergenceGraph/ConvergenceGraph.js
  client/src/components/Elements/Graphs/DeterminantsGraph/DeterminantsGraph.js
  client/src/components/Elements/Graphs/DistributionGraph/DistributionGraph.js
  client/src/components/Elements/Graphs/DrugResistanceGraph/DrugResistanceGraph.js
  client/src/components/Elements/Graphs/DrugResistanceGraph/DrugResistanceGraphMUI.js
  client/src/components/Elements/Graphs/GenotypePatternRect.js
  client/src/components/Elements/Graphs/Graphs.js
  client/src/components/Elements/Graphs/KOTrends/KOTrendsGraph.js
  client/src/components/Elements/Graphs/MarkerTrendsGraph/MarkerTrendsGraph.js
  client/src/components/Elements/Graphs/MarkerTrendsGraph/MarkerTrendsGraphMUI.js
  client/src/components/Elements/Graphs/TrendsGraph/TrendsGraph.js
  client/src/components/Elements/Graphs/graphColorHelper.js
  client/src/components/Elements/Map/Map.js
  client/src/components/Elements/Map/MapFilters/MapFilters.js
  client/src/components/Elements/SwitchColour/index.js
  client/src/constants.js
  client/src/stores/slices/dashboardSlice.ts
  client/src/util/colorHelper.js
  client/src/util/drugClassesRules.js
  client/src/util/drugs.js
  package.json
Due: frontend

Merge pull request #312 from amrnet/dependabot/pip/urllib3-2.6.0
  requirements.txt
Due: none

Merge pull request #308 from amrnet/dependabot/npm_and_yarn/validator-13.15.23
  package-lock.json
Due: none

Merge pull request #306 from amrnet/dependabot/npm_and_yarn/multi-ea4f9575c3
  package-lock.json
  package.json
Due: none

Merge pull request #307 from amrnet/dependabot/npm_and_yarn/nodemailer-7.0.11
  package-lock.json
  package.json
Due: none

Merge pull request #303 from amrnet/dependabot/npm_and_yarn/node-forge-1.3.2
  package-lock.json
Due: none

Merge pull request #313 from amrnet/dependabot/npm_and_yarn/client/js-yaml-3.14.2
  client/package-lock.json
Due: none

feat: Update citation details and improve data handling in various components
  client/locales/en.json
  client/src/components/Dashboard/Dashboard.js
  client/src/components/Dashboard/filters.js
  client/src/components/Elements/InformationCards/InformationCards.js
  client/src/locales/en.json
  client/src/util/graphCards.js
  docs/medical-glossary.json
  routes/api/api.js
  routes/api/generateDataAPIsFile.js
Due: frontend, backend

feat: Enhance quick pagination logic for organism data loading and improve error handling
  client/src/components/Dashboard/Dashboard.js
  client/src/utils/quickPaginationFix.js
Due: frontend

feat: Initialize filter values for organism data and enhance auto-selection for paginated organisms
  client/src/components/Dashboard/Dashboard.js
  client/src/components/Elements/Graphs/DrugResistanceGraph/DrugResistanceGraph.js
  client/src/utils/quickPaginationFix.js
Due: frontend

refactor: Simplify filter value initialization and improve code readability in Dashboard and DrugResistanceGraph components
  client/src/components/Dashboard/Dashboard.js
  client/src/components/Elements/Graphs/DrugResistanceGraph/DrugResistanceGraph.js
Due: frontend

feat: Implement metadata aggregation and optimize data loading for improved performance in Dashboard and API components
  client/src/components/Dashboard/Dashboard.js
  client/src/components/Dashboard/filters.js
  client/src/hooks/useGraphWorker.js
  client/src/utils/quickPaginationFix.js
  client/src/workers/graphDataWorker.js
  routes/api/api.js
  tutorial/PERFORMANCE_OPTIMIZATION_GUIDE.md
Due: frontend, backend

feat: Add react-refresh and react-refresh-webpack-plugin for improved development experience
  client/package.json
Due: none

feat: Optimize drug data computation for geographic comparisons and enhance filtering logic in BubbleGeographicGraph
  client/src/components/Dashboard/filters.js
  client/src/components/Elements/ContinentGraphs/BubbleGeographicGraph/BubbleGeographicGraph.js
Due: frontend

feat: Enhance drug resistance graph view and improve data extraction logic in Dashboard and BubbleGeographicGraph components
  client/src/components/Dashboard/Dashboard.js
  client/src/components/Dashboard/filters.js
  client/src/components/Elements/ContinentGraphs/BubbleGeographicGraph/BubbleGeographicGraph.js
  client/src/components/Elements/Graphs/BubbleHeatmapGraph2/BubbleHeatmapGraph2.js
  client/src/components/Elements/Graphs/DrugResistanceGraph/DrugResistanceGraph.js
  client/src/components/Elements/Graphs/graphColorHelper.js
  client/src/components/Elements/Map/TopLeftControls/TopLeftControls.js
  client/src/util/drugClassesRules.js
  client/src/util/drugs.js
  routes/api/api.js
Due: frontend, backend

Add internationalization support and improve translations across components
  client/src/components/Elements/Header/Header.js
  client/src/components/Elements/Map/Map.js
  client/src/components/Elements/Map/MapFilters/MapFilters.js
  client/src/components/Elements/Map/OptimizedMapFilters/OptimizedMapFilters.js
  client/src/components/Elements/Note/Note.js
  client/src/components/Home/Home.js
  client/src/components/Layout/MainLayout.js
  client/src/locales/en.json
  client/src/locales/es.json
  client/src/locales/fr.json
  client/src/locales/pt.json
Due: frontend

Path conditions:
  frontend: any of: client/src/, but not: client/src/reportWebVitals.js, client/src/setupTests.js, client/src/registerServiceWorker.js, **/*.test.js, **/*.spec.js, **/node_modules/**, scripts/**, docs/**, assets/**
  backend: any of: routes/, models/, controllers/, config/, services/, but not: client/src/reportWebVitals.js, client/src/setupTests.js, client/src/registerServiceWorker.js, **/*.test.js, **/*.spec.js, **/node_modules/**, scripts/**, docs/**, assets/**
