Repository amrnet/amrnet: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

comment: false

coverage:
  precision: 2
  round: nearest
  range: "60...85"

  status:
    project:
      default:
        target: auto
        threshold: 5%
        base: auto
        # Only fail if coverage drops significantly
        if_not_found: success

    patch:
      default:
        target: auto
        threshold: 5%
        base: auto
        if_not_found: success

# Ignore certain files from coverage
ignore:
  - "client/src/reportWebVitals.js"
  - "client/src/setupTests.js"
  - "client/src/registerServiceWorker.js"
  - "**/*.test.js"
  - "**/*.spec.js"
  - "**/node_modules/**"
  - "scripts/**"
  - "docs/**"
  - "assets/**"

# Coverage reporting for different components
flag_management:
  default_rules:
    carryforward: true

flags:
  frontend:
    paths:
      - client/src/
    ignore:
      - client/src/setupTests.js
      - client/src/reportWebVitals.js

  backend:
    paths:
      - routes/
      - models/
      - controllers/
      - config/
      - services/

Make the aggregation timeout configurable instead of a hardcoded 60s literal.
  routes/api/api.js
Due: backend

Todos
  client/src/util/drugClassesRules.js
  routes/api/api.js
Due: frontend, backend

Ampicillin
  client/src/util/drugClassesRules.js
Due: frontend

Update routes/api/api.js
  routes/api/api.js
Due: backend

update DB
  routes/api/api.js
Due: backend

old ints rules
  client/src/components/Dashboard/filters.js
  client/src/util/drugClassesRules.js
Due: frontend

fix AMR Trends
  client/src/components/Dashboard/filters.js
Due: frontend

fix NTS values for Trend and Lineage plots
  client/src/components/Dashboard/filters.js
  client/src/components/Elements/Graphs/BubbleMarkersHeatmapGraph/BubbleMarkersHeatmapGraph.js
Due: frontend

Marker plots value of BETA-LACTAM
  client/src/components/Dashboard/filters.js
Due: frontend

Update API_ENDPOINT to new development URL
  client/src/constants.js
Due: frontend

Update constants.js
  client/src/constants.js
Due: frontend

return old filter.js
  client/src/components/Dashboard/filters.js
Due: frontend

TODO: add API reference page
  docs/index.rst
Due: none

Delete .github directory
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/scripts/chatbot_handler.py
  .github/scripts/translator.py
  .github/scripts/translator_improved.py
  .github/workflows/README.md
  .github/workflows/chatbot.yml
  .github/workflows/ci-cd.yml
  .github/workflows/eslint.yml
  .github/workflows/professional-translation-sync.yml
  .github/workflows/translate_app.yml
Due: none
