Repository amrnet/amrnet: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

update
  client/src/components/Dashboard/filters.js
Due: frontend

update suggestion
  client/src/components/Elements/Header/Header.js
Due: frontend

missing
  client/src/components/Dashboard/Dashboard.js
  client/src/locales/en.json
Due: frontend

Merge pull request #327 from amrnet/dependabot/npm_and_yarn/next-16.1.5
  package-lock.json
  package.json
Due: none

Merge pull request #328 from amrnet/dependabot/npm_and_yarn/tar-7.5.7
  package-lock.json
Due: none

Merge pull request #329 from amrnet/dependabot/npm_and_yarn/multi-b848a05d6d
  package-lock.json
  package.json
Due: none

Merge pull request #330 from amrnet/dependabot/pip/django-4.2.28
  requirements.txt
Due: none

Merge pull request #332 from amrnet/dependabot/npm_and_yarn/client/jsonpath-1.2.0
  client/package-lock.json
Due: none

Merge pull request #334 from amrnet/dependabot/npm_and_yarn/client/webpack-5.105.0
  client/package-lock.json
Due: none

Merge pull request #336 from amrnet/dependabot/npm_and_yarn/axios-1.13.5
  package-lock.json
  package.json
Due: none

Merge pull request #338 from amrnet/dependabot/npm_and_yarn/client/axios-1.13.5
  client/package-lock.json
  client/package.json
Due: none

Merge pull request #302 from amrnet/dependabot/npm_and_yarn/client/node-forge-1.3.2
  client/package-lock.json
Due: none

update DB
  routes/api/api.js
Due: backend

Fix the Total Genotype issue where many rows have GENOTYPE=0
  client/src/components/Dashboard/Dashboard.js
Due: frontend

Flag in header
  client/src/components/Elements/Header/Header.js
Due: frontend

Updated Note
  client/src/components/Elements/Note/Note.js
  client/src/locales/en.json
Due: frontend

mapViewToTranslationKey map views
  client/src/components/Elements/Map/Map.js
  client/src/util/mapViewTranslationKeys.js
Due: frontend

Dashboard translation
  client/src/components/Dashboard/Dashboard.js
  client/src/components/Elements/ContinentGraphs/BubbleGeographicGraph/BubbleGeographicGraph.js
  client/src/components/Elements/ContinentGraphs/ContinentGraphs.js
  client/src/components/Elements/ContinentPathotypeGraphs/BubbleHPGraph/BubbleHPGraph.js
  client/src/components/Elements/ContinentPathotypeGraphs/ContinentPathotypeGraphs.js
  client/src/components/Elements/DownloadData/DownloadData.js
  client/src/components/Elements/Graphs/Graphs.js
  client/src/components/Elements/InformationCards/InformationCards.js
  client/src/locales/en.json
  client/src/util/graphCards.js
  client/src/util/mapViewTranslationKeys.js
Due: frontend

Ampicillin
  client/src/util/drugClassesRules.js
Due: frontend

Todos
  client/src/util/drugClassesRules.js
  routes/api/api.js
Due: frontend, backend

Update routes/api/api.js
  routes/api/api.js
Due: backend

Make the aggregation timeout configurable instead of a hardcoded 60s literal.
  routes/api/api.js
Due: backend

Path conditions:
  frontend: any of: client/src/, but not: client/src/reportWebVitals.js, client/src/setupTests.js, client/src/registerServiceWorker.js, **/*.test.js, **/*.spec.js, **/node_modules/**, scripts/**, docs/**, assets/**
  backend: any of: routes/, models/, controllers/, config/, services/, but not: client/src/reportWebVitals.js, client/src/setupTests.js, client/src/registerServiceWorker.js, **/*.test.js, **/*.spec.js, **/node_modules/**, scripts/**, docs/**, assets/**
