Repository amrnet/amrnet: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

senterica en.json
  client/src/locales/en.json
Due: frontend

API_ENDPOINT
  client/src/constants.js
Due: frontend

server
  server.js
Due: none

PDF content
  client/src/components/Elements/DownloadData/PDFPreviewModal.js
  client/src/util/reportInfoTexts.js
Due: frontend

Removed Dashboard changes
  client/src/components/Dashboard/Dashboard.js
  client/src/constants.js
Due: frontend

AMR TREND yaxis
  client/src/components/Elements/Graphs/DrugResistanceGraph/DrugResistanceGraph.js
Due: frontend

amr By Serotype and pathotype
  client/src/locales/en.json
  client/src/util/graphCards.js
Due: frontend

Data zoom-in features
  client/src/components/Elements/Graphs/DrugResistanceGraph/DrugResistanceGraph.js
Due: frontend

missing only for this branch
  client/src/components/Dashboard/Dashboard.js
  client/src/components/Elements/Graphs/KOTrends/KOTrendsGraph.js
Due: frontend

Updates
  client/src/components/Elements/DownloadData/DownloadData.js
  client/src/components/Elements/DownloadData/PDFPreviewModal.js
  client/src/util/reportInfoTexts.js
Due: frontend

PDF improvemnet
  client/src/components/Elements/DownloadData/DownloadData.js
  client/src/locales/en.json
Due: frontend

feat: add Radar Profile graph to ContinentGraphs and update localization
  client/src/components/Elements/AMRInsights/AMRInsights.js
  client/src/components/Elements/ContinentGraphs/ContinentGraphs.js
  client/src/components/Elements/Graphs/CooccurrenceGraph/CooccurrenceGraph.js
  client/src/components/Elements/Graphs/SerotypeResistanceGraph/SerotypeResistanceGraph.js
  client/src/locales/en.json
  client/src/locales/es.json
  client/src/locales/fr.json
  client/src/locales/pt.json
  client/src/util/graphCards.js
Due: frontend

feat: add PMEN Clone graph and localization support
  client/src/components/Elements/AMRInsights/AMRInsights.js
  client/src/components/Elements/Graphs/PMENCloneGraph/PMENCloneGraph.js
  client/src/components/Elements/Graphs/SerotypeResistanceGraph/SerotypeResistanceGraph.js
  client/src/constants.js
  client/src/locales/en.json
  client/src/locales/es.json
  client/src/locales/fr.json
  client/src/locales/pt.json
Due: frontend

feat: enhance GenomicVsPhenotypicGraph with confidence interval error bars
  client/src/components/Elements/Graphs/GenomicVsPhenotypicGraph/GenomicVsPhenotypicGraph.js
  client/src/constants.js
Due: frontend

Add country-level phenotypic ciprofloxacin non-susceptibility data for Salmonella Typhi (2008–2022)
  client/src/assets/ecoliESBL.json
  client/src/assets/typhiCipNS.json
  client/src/components/Elements/Graphs/ATBCorrelationGraph/ATBCorrelationGraph.js
  client/src/components/Elements/Graphs/CooccurrenceGraph/CooccurrenceGraph.js
  client/src/components/Elements/Graphs/GenomicVsPhenotypicGraph/GenomicVsPhenotypicGraph.js
  client/src/components/Elements/Graphs/GenomicVsPhenotypicGraph/GenomicVsPhenotypicGraphMUI.js
  client/src/components/Elements/Graphs/RadarProfileGraph/RadarProfileGraph.js
  client/src/data/glass_data.js
Due: frontend

Add AMR data for Ciprofloxacin resistance in Shigella spp. and Co-Trimoxazole resistance in Streptococcus pneumoniae
  client/src/assets/decoliCiprofloxacin.json
  client/src/assets/kpneumoCarbapenem.json
  client/src/assets/ngonoCiprofloxacin.json
  client/src/assets/salmonellaCiprofloxacin.json
  client/src/assets/saureusMRSA.json
  client/src/assets/shigeCiprofloxacin.json
  client/src/assets/strepneumoCoTrimoxazole.json
  client/src/components/Elements/AMRInsights/AMRInsights.js
  client/src/components/Elements/Graphs/ATBCorrelationGraph/ATBCorrelationGraph.js
  client/src/components/Elements/Graphs/GenomicVsPhenotypicGraph/GenomicVsPhenotypicGraph.js
  client/src/components/Elements/Graphs/QRDRPathwayGraph/QRDRPathwayGraph.js
Due: frontend

Refactor database collection names and update related API routes
  routes/api/aggregations.js
  routes/api/api.js
  routes/api/combine_files.js
  routes/api/generateDataAPIsFile.js
  routes/api/optimized.js
  scripts/create-indexes.js
Due: backend

Refactor drug resistance logic for E. coli and Senterica
  client/src/components/Dashboard/Dashboard.js
  client/src/components/Dashboard/filters.js
  client/src/components/Elements/ContinentGraphs/BubbleGeographicGraph/BubbleGeographicGraph.js
  client/src/components/Elements/Graphs/CooccurrenceGraph/CooccurrenceGraph.js
  client/src/components/Elements/Graphs/DrugResistanceGraph/DrugResistanceGraph.js
  client/src/components/Elements/Graphs/EmergenceRateGraph/EmergenceRateGraph.js
  client/src/components/Elements/Graphs/FrequenciesGraph/FrequenciesGraph.js
  client/src/components/Elements/Graphs/MarkerTrendsGraph/MarkerTrendsGraph.js
  client/src/components/Elements/Graphs/TemporalHeatmapGraph/TemporalHeatmapGraph.js
  client/src/components/Elements/Graphs/graphColorHelper.js
  client/src/components/Elements/Map/MapFilters/MapFilters.js
  client/src/components/Elements/ResetButton/ResetButton.js
  client/src/constants.js
  client/src/services/progressiveGenotypeLoader.js
  client/src/services/smartDataProcessor.js
  client/src/util/atbDrugMapping.js
  client/src/util/drugClassesRules.js
  client/src/util/drugs.js
  routes/api/aggregations.js
  routes/api/api.js
Due: frontend, backend

refactor: improve code readability by formatting multi-line expressions
  client/src/components/Dashboard/filters.js
  client/src/constants.js
Due: frontend

feat: add public API with registration and Swagger documentation
  routes/api/apiRegistration.js
  routes/api/publicApi.js
  routes/api/swagger.js
  server.js
Due: backend

fix: update drug names and mappings for consistency across the application
  client/src/components/Dashboard/filters.js
  client/src/components/Elements/AMRInsights/AMRInsights.js
  client/src/components/Elements/Graphs/ATBCorrelationGraph/ATBCorrelationGraph.js
  client/src/components/Elements/Graphs/PMENCloneGraph/PMENCloneGraph.js
  client/src/components/Elements/Graphs/QRDRPathwayGraph/QRDRPathwayGraph.js
  client/src/components/Elements/Graphs/graphColorHelper.js
  client/src/components/Elements/Map/MapFilters/MapFilters.js
  client/src/data/glass_data.js
  client/src/util/atbDrugMapping.js
  client/src/util/drugClassesRules.js
  client/src/util/drugs.js
  models/strepneumo.js
  package.json
  routes/api/aggregations.js
  routes/api/api.js
  routes/api/optimized.js
  scripts/check-glass-data.js
  server.js
Due: frontend, backend

docs: update README for AWS infrastructure, 10 organisms, and public API
  README.md
  deploy/DEPLOY-GUIDE.md
  deploy/deploy-app.sh
  deploy/deploy-dev.sh
  deploy/deploy-production.sh
  deploy/migrate-atlas.sh
  deploy/production-setup.sh
  deploy/promote-to-production.sh
  deploy/setup-aws-infrastructure.sh
  deploy/setup-cloudfront.sh
  deploy/setup-dev-instance.sh
  deploy/setup-ec2.sh
  deploy/setup-s3-cron-backup.sh
Due: none

docs: update report texts for S. aureus and S. pneumoniae
  client/src/util/reportInfoTexts.js
Due: frontend

There is weird behaviour with the trends plot fixed
  client/src/components/Elements/Graphs/DrugResistanceGraph/DrugResistanceGraph.js
Due: frontend

Path conditions:
  frontend: any of: client/src/, but not: client/src/reportWebVitals.js, client/src/setupTests.js, client/src/registerServiceWorker.js, **/*.test.js, **/*.spec.js, **/node_modules/**, scripts/**, docs/**, assets/**
  backend: any of: routes/, models/, controllers/, config/, services/, but not: client/src/reportWebVitals.js, client/src/setupTests.js, client/src/registerServiceWorker.js, **/*.test.js, **/*.spec.js, **/node_modules/**, scripts/**, docs/**, assets/**
