Repository amrnet/amrnet: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

updated switch button
  client/src/components/Elements/SwitchColour/SwitchColour.js
  client/src/components/Elements/SwitchColour/SwitchColourMUI.js
Due: frontend

Merge pull request #296 from amrnet/dependabot/npm_and_yarn/multi-653eeefaac
  package-lock.json
  package.json
Due: none

feat: Add/Update translations from 'en.json'
  client/locales/fr.json
  client/locales/pt.json
  locales/es.json
  locales/fr.json
  locales/pt.json
Due: none

Merge pull request #290 from amrnet/dependabot/npm_and_yarn/client/axios-1.12.0
  client/package-lock.json
  client/package.json
Due: none

Merge pull request #294 from amrnet/dependabot/npm_and_yarn/nodemailer-7.0.7
  package-lock.json
  package.json
Due: none

Merge pull request #291 from amrnet/dependabot/npm_and_yarn/jspdf-3.0.3
  package-lock.json
  package.json
Due: none

Merge pull request #293 from amrnet/dependabot/pip/django-4.2.25
  requirements.txt
Due: none

Merge pull request #297 from amrnet/dependabot/npm_and_yarn/axios-1.12.0
  package-lock.json
  package.json
Due: none

Merge pull request #298 from amrnet/dependabot/pip/django-4.2.26
  requirements.txt
Due: none

Merge pull request #300 from amrnet/dependabot/npm_and_yarn/multi-75e6bc5210
  package-lock.json
Due: none

feat: add auto-translation script for .po files and enhance development startup script
  .gitignore
  compile_translations.sh
  package-lock.json
  scripts/auto_translate_po.py
  scripts/start-dev.sh
  uv.lock
Due: none

fix: add missing entries for data and model files in .gitignore
  .gitignore
Due: none

fix: add missing entries for output and deployment directories in .gitignore
  .gitignore
Due: none

Potential fix for code scanning alert no. 86: Missing rate limiting
  routes/api/combine_files.js
Due: backend

Potential fix for code scanning alert no. 182: Database query built from user-controlled sources
  routes/api/optimized.js
Due: backend

Update .gitignore, README, and package configurations; add Vite support and remove Crowdin config
  .gitignore
  README.md
  client/craco.config.js
  client/package.json
  client/vite.config.js
  crowdin.yml
  package.json
Due: none

Merge pull request #311 from amrnet/dependabot/npm_and_yarn/next-15.5.7
  package-lock.json
  package.json
Due: none

Merge pull request #310 from amrnet/dependabot/npm_and_yarn/jws-3.2.3
  package-lock.json
Due: none

Merge pull request #309 from amrnet/dependabot/pip/django-4.2.27
  requirements.txt
Due: none

Update citation information across multiple documents to reflect new publication details for AMRnet
  client/locales/en.json
  client/src/locales/en.json
  docs/index.rst
  docs/locale/es/LC_MESSAGES/index.po
  docs/locale/fr/LC_MESSAGES/index.po
  docs/locale/pt/LC_MESSAGES/index.po
  docs/medical-glossary.json
  docs/notInUse/right.rst
  docs/notInUse/userguide.rst
Due: frontend

include issues
  client/src/components/Dashboard/filters.js
  client/src/components/Elements/ContinentGraphs/BubbleGeographicGraph/BubbleGeographicGraph.js
  client/src/components/Elements/Graphs/graphColorHelper.js
  client/src/util/drugClassesRules.js
  client/src/util/drugs.js
  routes/api/api.js
  routes/api/optimized.js
Due: frontend, backend

Refactor map stats data handling and enhance diagnostics for ECOLI-like organisms; update drug rules and acronyms for clarity
  client/src/components/Dashboard/filters.js
  client/src/components/Elements/ContinentGraphs/BubbleGeographicGraph/BubbleGeographicGraph.js
  client/src/util/drugClassesRules.js
  client/src/util/drugs.js
Due: frontend

Remove diagnostic logging for resistance-prevalence stats and streamline trend options rendering in BubbleGeographicGraph
  client/src/components/Dashboard/filters.js
  client/src/components/Elements/ContinentGraphs/BubbleGeographicGraph/BubbleGeographicGraph.js
Due: frontend

Refactor MongoDB configurations, enhance data handling in IndexedDB, and improve defensive coding practices across multiple components
  .env.example
  .gitignore
  client/src/components/Dashboard/Dashboard.js
  client/src/components/Elements/ContinentGraphs/BubbleGeographicGraph/BubbleGeographicGraph.js
  client/src/components/Elements/Graphs/DrugResistanceGraph/DrugResistanceGraph.js
  client/src/idb.ts
  client/src/util/drugClassesRules.js
  enhanced-server.js
  routes/api/api.js
  routes/api/combine_files.js
  routes/api/generateDataAPIsFile.js
  routes/api/optimized.js
  scripts/server-fixed.js
  scripts/start-with-db-overrides.sh
Due: frontend, backend

Path conditions:
  frontend: any of: client/src/, but not: client/src/reportWebVitals.js, client/src/setupTests.js, client/src/registerServiceWorker.js, **/*.test.js, **/*.spec.js, **/node_modules/**, scripts/**, docs/**, assets/**
  backend: any of: routes/, models/, controllers/, config/, services/, but not: client/src/reportWebVitals.js, client/src/setupTests.js, client/src/registerServiceWorker.js, **/*.test.js, **/*.spec.js, **/node_modules/**, scripts/**, docs/**, assets/**
