Repository amrnet/amrnet: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

comment: false

coverage:
  precision: 2
  round: nearest
  range: "60...85"

  status:
    project:
      default:
        target: auto
        threshold: 5%
        base: auto
        # Only fail if coverage drops significantly
        if_not_found: success

    patch:
      default:
        target: auto
        threshold: 5%
        base: auto
        if_not_found: success

# Ignore certain files from coverage
ignore:
  - "client/src/reportWebVitals.js"
  - "client/src/setupTests.js"
  - "client/src/registerServiceWorker.js"
  - "**/*.test.js"
  - "**/*.spec.js"
  - "**/node_modules/**"
  - "scripts/**"
  - "docs/**"
  - "assets/**"

# Coverage reporting for different components
flag_management:
  default_rules:
    carryforward: true

flags:
  frontend:
    paths:
      - client/src/
    ignore:
      - client/src/setupTests.js
      - client/src/reportWebVitals.js

  backend:
    paths:
      - routes/
      - models/
      - controllers/
      - config/
      - services/

fix: update dataset handling for K. pneumoniae in graphs and downloads
  client/src/components/Dashboard/Dashboard.js
  client/src/components/Elements/ContinentGraphs/ContinentGraphs.js
  client/src/components/Elements/Map/MapActions/DownloadMapSS.js
  client/src/components/Elements/Map/MapActions/MapActions.js
Due: frontend

fix: enhance drug resistance data dispatch for all organisms and add quinolone marker counting
  client/src/components/Dashboard/Dashboard.js
  client/src/components/Dashboard/filters.js
Due: frontend

fix(i18n): honor localStorage-persisted language on page load
  client/src/i18n.js
Due: frontend

i18n: translate organism names, filter labels, tooltips, AMR Insights
  client/src/components/Elements/AMRInsights/InsightsActions.js
  client/src/components/Elements/ContinentGraphs/BubbleGeographicGraph/BubbleGeographicGraph.js
  client/src/components/Elements/ContinentGraphs/TrendLineGraph/TrendLineGraph.js
  client/src/components/Elements/ContinentGraphs/TrendLineGraph2/TrendLineGraph2.js
  client/src/components/Elements/ContinentPathotypeGraphs/BubbleHPGraph/BubbleHPGraph.js
  client/src/components/Elements/ContinentPathotypeGraphs/ContinentPathotypeGraphs.js
  client/src/components/Elements/DownloadData/PDFPreviewModal.js
  client/src/components/Elements/Footer/Footer.js
  client/src/components/Elements/Graphs/BubbleHeatmapGraph2/BubbleHeatmapGraph2.js
  client/src/components/Elements/Graphs/BubbleKOHeatmapGraph/BubbleKOHeatmapGraph.js
  client/src/components/Elements/Graphs/BubbleMarkersHeatmapGraph/BubbleMarkersHeatmapGraph.js
  client/src/components/Elements/Graphs/DeterminantsGraph/DeterminantsGraph.js
  client/src/components/Elements/Graphs/DistributionGraph/DistributionGraph.js
  client/src/components/Elements/Graphs/GenomicVsPhenotypicGraph/GenomicVsPhenotypicGraph.js
  client/src/components/Elements/Graphs/Graphs.js
  client/src/components/Elements/Graphs/KOTrends/KOTrendsGraph.js
  client/src/components/Elements/Graphs/MarkerTrendsGraph/MarkerTrendsGraph.js
  client/src/components/Elements/Map/BottomLeftControls/BottomLeftControls.js
  client/src/components/Elements/ProgressiveDataRenderer/ProgressiveDataRenderer.js
  client/src/components/Elements/ResetButton/ResetButton.js
  client/src/components/Elements/SelectCountry/SelectCountry.js
  client/src/components/Elements/SelectOrganism/SelectOrganism.js
  client/src/components/Elements/Shared/ShareButton.js
  client/src/components/Home/Home.js
  client/src/locales/en.json
  client/src/locales/es.json
  client/src/locales/fr.json
  client/src/locales/pt.json
Due: frontend

fix(i18n): remove stray backslashes from variant="caption" attributes
  client/src/components/Elements/Graphs/BubbleHeatmapGraph2/BubbleHeatmapGraph2.js
  client/src/components/Elements/Graphs/BubbleMarkersHeatmapGraph/BubbleMarkersHeatmapGraph.js
Due: frontend

i18n: translate remaining UI labels (y-axis, year range, selectors, drugs)
  client/src/components/Elements/ContinentGraphs/BubbleGeographicGraph/BubbleGeographicGraph.js
  client/src/components/Elements/ContinentGraphs/TrendLineGraph/TrendLineGraph.js
  client/src/components/Elements/ContinentGraphs/TrendLineGraph2/TrendLineGraph2.js
  client/src/components/Elements/Graphs/BubbleHeatmapGraph2/BubbleHeatmapGraph2.js
  client/src/components/Elements/Graphs/BubbleKOHeatmapGraph/BubbleKOHeatmapGraph.js
  client/src/components/Elements/Graphs/BubbleMarkersHeatmapGraph/BubbleMarkersHeatmapGraph.js
  client/src/components/Elements/Graphs/DistributionGraph/DistributionGraph.js
  client/src/components/Elements/Graphs/DrugResistanceGraph/DrugResistanceGraph.js
  client/src/components/Elements/Graphs/KOTrends/KOTrendsGraph.js
  client/src/components/Elements/Graphs/MarkerTrendsGraph/MarkerTrendsGraph.js
  client/src/components/Elements/Graphs/RadarProfileGraph/RadarProfileGraph.js
  client/src/components/Elements/Graphs/TemporalHeatmapGraph/TemporalHeatmapGraph.js
  client/src/components/Elements/Map/TopLeftControls/TopLeftControls.js
  client/src/locales/en.json
  client/src/locales/es.json
  client/src/locales/fr.json
  client/src/locales/pt.json
Due: frontend

fix: CipNS / CipR Quinolone-parsed for all ECOLI-family organisms
  client/src/components/Elements/Map/MapFilters/MapFilters.js
  client/src/data/glass_data.js
  client/src/util/atbDrugMapping.js
  client/src/util/drugClassesRules.js
  routes/api/aggregations.js
Due: frontend, backend

refactor: replace HEATMAP_WHITE_TEXT_THRESHOLD with heatmapTextColor for dynamic text color in heatmaps
  client/src/components/Elements/ContinentGraphs/BubbleGeographicGraph/BubbleGeographicGraph.js
  client/src/components/Elements/Graphs/BubbleHeatmapGraph2/BubbleHeatmapGraph2.js
  client/src/components/Elements/Graphs/BubbleKOHeatmapGraph/BubbleKOHeatmapGraph.js
  client/src/components/Elements/Graphs/BubbleMarkersHeatmapGraph/BubbleMarkersHeatmapGraph.js
  client/src/components/Elements/Map/mapColorHelper.js
Due: frontend

feat(api): add api.amrnet.org + dev.amrnet.org to Swagger servers list
  routes/api/swagger.js
Due: backend

feat(api): surface api.amrnet.org from the UI and update docs
  README.md
  client/src/components/Elements/Footer/Footer.js
Due: frontend

docs: add API icon to dashboard float buttons, rewrite README + data.rst
  README.md
  client/src/components/Elements/ResetButton/ResetButton.js
  docs/data.rst
Due: frontend

fix: restore server-side drugsData, shige isPaginated guard, and $limit
  client/src/components/Dashboard/Dashboard.js
  routes/api/aggregations.js
Due: frontend, backend

feat: switch heatmap palette from Magma to Viridis
  client/src/components/Elements/Map/mapColorHelper.js
Due: frontend

feat: switch heatmap palette to custom blue→red (skip pale middle)
  client/src/components/Elements/Map/mapColorHelper.js
Due: frontend

fix: shige default drug + translate remaining UI strings
  client/src/components/Dashboard/Dashboard.js
  client/src/components/Elements/ContinentGraphs/BubbleGeographicGraph/BubbleGeographicGraph.js
  client/src/components/Elements/ContinentGraphs/TrendLineGraph/TrendLineGraph.js
  client/src/components/Elements/ContinentGraphs/TrendLineGraph2/TrendLineGraph2.js
  client/src/components/Elements/ContinentPathotypeGraphs/BubbleHPGraph/BubbleHPGraph.js
  client/src/components/Elements/Graphs/BubbleHeatmapGraph2/BubbleHeatmapGraph2.js
  client/src/components/Elements/Graphs/BubbleKOHeatmapGraph/BubbleKOHeatmapGraph.js
  client/src/components/Elements/Graphs/BubbleMarkersHeatmapGraph/BubbleMarkersHeatmapGraph.js
  client/src/components/Elements/Graphs/DrugResistanceGraph/DrugResistanceGraph.js
  client/src/components/Elements/Graphs/EmergenceRateGraph/EmergenceRateGraph.js
  client/src/components/Elements/Graphs/FrequenciesGraph/FrequenciesGraph.js
  client/src/components/Elements/Graphs/MarkerTrendsGraph/MarkerTrendsGraph.js
  client/src/components/Elements/Graphs/TrendsGraph/TrendsGraph.js
  client/src/components/Elements/Map/TopLeftControls/TopLeftControls.js
  client/src/locales/en.json
  client/src/locales/es.json
  client/src/locales/fr.json
  client/src/locales/pt.json
  client/src/util/mapLegends.js
Due: frontend

hotfix: brace JSX attribute value in BubbleGeographicGraph
  client/src/components/Elements/ContinentGraphs/BubbleGeographicGraph/BubbleGeographicGraph.js
Due: frontend

chore: add SECURITY.md to .gitignore
  .gitignore
Due: none

docs: fix RTD multi-language build + add saureus/strepneumo pages
  .readthedocs.yaml
  .readthedocs.yml
  docs/_templates/layout.html
  docs/conf.py
  docs/conf_es.py
  docs/conf_fr.py
  docs/conf_pt.py
  docs/deployment.rst
  docs/installation.rst
  docs/pathogen.rst
  docs/saureus.rst
  docs/strepneumo.rst
Due: none

docs: render language switcher via Furo announcement banner
  docs/_templates/layout.html
  docs/conf.py
Due: none

docs: point language switcher at live amrnet-{es,fr,pt} RTD projects
  docs/conf.py
Due: none

docs: improve formatting and descriptions in Swagger API documentation
  routes/api/swagger.js
Due: backend
