Repository amrnet/amrnet: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

There is weird behaviour with the trends plot fixed
  client/src/components/Elements/Graphs/DrugResistanceGraph/DrugResistanceGraph.js
Due: frontend

colours are also off in heatmaps - blue=high values and red=low
  client/src/components/Elements/ContinentGraphs/BubbleGeographicGraph/BubbleGeographicGraph.js
  client/src/components/Elements/ContinentGraphs/BubbleGeographicGraph/BubbleGeographicGraphMUI.js
  client/src/components/Elements/ContinentPathotypeGraphs/BubbleHPGraph/BubbleHPGraph.js
  client/src/components/Elements/ContinentPathotypeGraphs/BubbleHPGraph/BubbleHPGraphMUI.js
  client/src/components/Elements/Graphs/BubbleHeatmapGraph2/BubbleHeatmapGraph2.js
  client/src/components/Elements/Graphs/BubbleHeatmapGraph2/BubbleHeatmapGraphMUI.js
  client/src/components/Elements/Graphs/BubbleKOHeatmapGraph/BubbleKOHeatmapGraph.js
  client/src/components/Elements/Graphs/BubbleKOHeatmapGraph/BubbleKOHeatmapGraphMUI.js
  client/src/components/Elements/Graphs/BubbleMarkersHeatmapGraph/BubbleMarkersHeatmapGraph.js
  client/src/components/Elements/Graphs/BubbleMarkersHeatmapGraph/BubbleMarkersHeatmapGraphMUI.js
  client/src/components/Elements/Map/mapColorHelper.js
Due: frontend

Selected Pathotypes
  client/src/components/Elements/Map/MapActions/DownloadMapSS.js
Due: frontend

Added Ampicillin and removed Pathotype prevalence' from Map View
  client/src/util/drugClassesRules.js
  client/src/util/mapLegends.js
Due: frontend

Trend plots issue for not showing 100% (other) value fixed
  routes/api/aggregations.js
Due: backend

Auto-selection is not working
  client/src/components/Dashboard/Dashboard.js
Due: frontend

updates
  client/src/components/Elements/ContinentGraphs/BubbleGeographicGraph/BubbleGeographicGraphMUI.js
  client/src/components/Elements/ContinentPathotypeGraphs/BubbleHPGraph/BubbleHPGraphMUI.js
  client/src/components/Elements/Graphs/BubbleHeatmapGraph2/BubbleHeatmapGraphMUI.js
  client/src/components/Elements/Graphs/BubbleKOHeatmapGraph/BubbleKOHeatmapGraphMUI.js
  client/src/components/Elements/Graphs/BubbleMarkersHeatmapGraph/BubbleMarkersHeatmapGraphMUI.js
  client/src/components/Elements/Map/MapActions/DownloadMapSS.js
  client/src/components/Elements/Map/mapColorHelper.js
Due: frontend

Ampicillin fixed
  client/src/components/Dashboard/Dashboard.js
  client/src/components/Dashboard/filters.js
  client/src/components/Elements/Graphs/DrugResistanceGraph/DrugResistanceGraph.js
  client/src/util/drugClassesRules.js
Due: frontend

test: add safety net for drug resistance logic + PR quality gates
  .github/pull_request_template.md
  CODE_REVIEW_STAGING.md
  client/src/__tests__/utils/drugResistance.test.js
  scripts/pre-commit-checks.sh
Due: none

chore: gitignore local code review notes
  .gitignore
  CODE_REVIEW_STAGING.md
Due: none

chore: untrack deploy scripts (contain secrets)
  deploy/DEPLOY-GUIDE.md
  deploy/deploy-app.sh
  deploy/deploy-dev.sh
  deploy/deploy-production.sh
  deploy/migrate-atlas.sh
  deploy/production-setup.sh
  deploy/promote-to-production.sh
  deploy/setup-aws-infrastructure.sh
  deploy/setup-cloudfront.sh
  deploy/setup-dev-instance.sh
  deploy/setup-ec2.sh
  deploy/setup-s3-cron-backup.sh
Due: none

fix: trends plot collapses to single year on chart click
  client/src/components/Elements/Graphs/DrugResistanceGraph/DrugResistanceGraph.js
  client/src/components/Elements/Graphs/MarkerTrendsGraph/MarkerTrendsGraph.js
Due: frontend

fix: same trends collapse bug in TrendsGraph.js
  client/src/components/Elements/Graphs/TrendsGraph/TrendsGraph.js
Due: frontend

fix: ecoli-family drug classes per docs/pathogen.rst AMR definition table
  client/src/__tests__/utils/drugResistance.test.js
  client/src/components/Dashboard/Dashboard.js
  client/src/components/Dashboard/filters.js
  client/src/util/drugClassesRules.js
  routes/api/aggregations.js
Due: frontend, backend

fix: Tigecycline (and other low-prevalence drugs) missing from kpneumo trends
  client/src/components/Elements/Graphs/DrugResistanceGraph/DrugResistanceGraph.js
Due: frontend

Refactor AMR data handling and visualization
  .gitignore
  client/src/__tests__/utils/drugResistance.test.js
  client/src/components/Dashboard/Dashboard.js
  client/src/components/Dashboard/filters.js
  client/src/components/Elements/ContinentGraphs/BubbleGeographicGraph/BubbleGeographicGraph.js
  client/src/components/Elements/Graphs/BubbleHeatmapGraph2/BubbleHeatmapGraph2.js
  client/src/components/Elements/Graphs/BubbleKOHeatmapGraph/BubbleKOHeatmapGraph.js
  client/src/components/Elements/Graphs/BubbleMarkersHeatmapGraph/BubbleMarkersHeatmapGraph.js
  client/src/components/Elements/Graphs/DrugResistanceGraph/DrugResistanceGraph.js
  client/src/components/Elements/Graphs/MarkerTrendsGraph/MarkerTrendsGraph.js
  client/src/components/Elements/Map/Map.js
  client/src/components/Elements/Map/MapFilters/MapFilters.js
  client/src/components/Elements/Map/mapColorHelper.js
  client/src/data/glass_data.js
  client/src/stores/slices/dashboardSlice.ts
  client/src/util/atbDrugMapping.js
  client/src/util/drugClassesRules.js
  client/src/util/drugs.js
  client/src/util/env.js
  client/src/util/organismsCards.js
  routes/api/aggregations.js
Due: frontend, backend

fix: update dataset handling for K. pneumoniae in graphs and downloads
  client/src/components/Dashboard/Dashboard.js
  client/src/components/Elements/ContinentGraphs/ContinentGraphs.js
  client/src/components/Elements/Map/MapActions/DownloadMapSS.js
  client/src/components/Elements/Map/MapActions/MapActions.js
Due: frontend

Path conditions:
  frontend: any of: client/src/, but not: client/src/reportWebVitals.js, client/src/setupTests.js, client/src/registerServiceWorker.js, **/*.test.js, **/*.spec.js, **/node_modules/**, scripts/**, docs/**, assets/**
  backend: any of: routes/, models/, controllers/, config/, services/, but not: client/src/reportWebVitals.js, client/src/setupTests.js, client/src/registerServiceWorker.js, **/*.test.js, **/*.spec.js, **/node_modules/**, scripts/**, docs/**, assets/**
