Repository amrnet/amrnet: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Delete amrnet.code-workspace
  amrnet.code-workspace
Due: none

Delete uv.lock
  uv.lock
Due: none

Delete unused documentation files and enhance API database connection with index management
  client/src/components/Elements/Graphs/BubbleMarkersHeatmapGraph/BubbleMarkersHeatmapGraph.js
  client/src/constants.js
  docs/api.rst
  docs/index.rst
  docs/notInUse/architecture.rst
  docs/notInUse/gui.rst
  docs/notInUse/internationalization.rst
  docs/notInUse/right.rst
  docs/notInUse/tutorial.rst
  docs/notInUse/userguide.rst
  routes/api/api.js
  scripts/create-indexes.js
Due: frontend, backend

Refactor drug rules and improve MongoDB connection handling
  client/src/util/drugClassesRules.js
  client/src/util/drugs.js
  routes/api/api.js
Due: frontend, backend

statKeysINTS2 is not used anymore and Removed try and catch now since Index already exists with a different name: name_1_lookup'
  client/src/util/drugClassesRules.js
  routes/api/api.js
Due: frontend, backend

Removed duplicated code useECOLIRules
  client/src/components/Dashboard/filters.js
Due: frontend

Remove this dead code
  client/src/util/drugClassesRules.js
  routes/api/api.js
Due: frontend, backend

Add Ampicillin resistance rules to drug classes and clean up commented code
  client/src/util/drugClassesRules.js
Due: frontend

missing "val === 'string'"
  client/src/components/Dashboard/filters.js
Due: frontend

Add Mongoose models for saureus and spneumo with comprehensive schemas
  client/src/assets/organisms/index.js
  client/src/assets/organisms/saureus.jpg
  client/src/assets/organisms/spneumo.jpg
  client/src/components/Dashboard/Dashboard.js
  client/src/services/smartDataProcessor.js
  client/src/util/graphCards.js
  client/src/util/organismsCards.js
  controllers/controller_DB.js
  models/saureus.js
  models/spneumo.js
  routes/api/api.js
  routes/api/generateDataAPIsFile.js
  routes/api/optimized.js
  services/services.js
Due: frontend, backend

Refactor import statements and clean up unused variables in services.js; update endpoint mapping in smartDataProcessor.js; ensure consistent export formatting in saureus.js and spneumo.js
  client/src/services/smartDataProcessor.js
  models/saureus.js
  models/spneumo.js
  services/services.js
Due: frontend, backend

string
  client/src/components/Dashboard/filters.js
Due: frontend

kpneumo data fix
  client/src/components/Dashboard/filters.js
Due: frontend

console
  client/src/components/Dashboard/filters.js
Due: frontend

Added legends to Heatmaps
  client/public/legends/HeatMapLegend.png
  client/src/components/Elements/ContinentGraphs/ContinentGraphs.js
  client/src/components/Elements/ContinentPathotypeGraphs/ContinentPathotypeGraphs.js
  client/src/components/Elements/Graphs/Graphs.js
Due: frontend

Path conditions:
  frontend: any of: client/src/, but not: client/src/reportWebVitals.js, client/src/setupTests.js, client/src/registerServiceWorker.js, **/*.test.js, **/*.spec.js, **/node_modules/**, scripts/**, docs/**, assets/**
  backend: any of: routes/, models/, controllers/, config/, services/, but not: client/src/reportWebVitals.js, client/src/setupTests.js, client/src/registerServiceWorker.js, **/*.test.js, **/*.spec.js, **/node_modules/**, scripts/**, docs/**, assets/**
