Repository amrnet/amrnet: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

docs: improve formatting and descriptions in Swagger API documentation
  routes/api/swagger.js
Due: backend

docs: improve Portuguese pathogen.rst translation + minor source cleanup
  docs/locale/es/LC_MESSAGES/pathogen.po
  docs/locale/fr/LC_MESSAGES/pathogen.po
  docs/locale/pt/LC_MESSAGES/pathogen.po
  docs/pathogen.rst
Due: none

docs(i18n): fix PT species typos + add saureus/strepneumo entries (pt/es/fr)
  docs/locale/es/LC_MESSAGES/pathogen.po
  docs/locale/fr/LC_MESSAGES/pathogen.po
  docs/locale/pt/LC_MESSAGES/pathogen.po
Due: none

docs(i18n): fix remaining 'Esclerichia coli' typo in PT ecoli.po
  docs/locale/pt/LC_MESSAGES/ecoli.po
Due: none

fix: collapse Cip NS/R to single 'Ciprofloxacin' in marker views
  client/src/components/Dashboard/filters.js
  client/src/components/Elements/ContinentGraphs/BubbleGeographicGraph/BubbleGeographicGraph.js
  client/src/components/Elements/Graphs/BubbleHeatmapGraph2/BubbleHeatmapGraph2.js
  client/src/components/Elements/Graphs/MarkerTrendsGraph/MarkerTrendsGraph.js
  client/src/components/Elements/Graphs/RadarProfileGraph/RadarProfileGraph.js
  client/src/util/drugClassesRules.js
Due: frontend

fix: keep CipNS/CipR split in Geographic Comparisons Heatmap
  client/src/components/Elements/Graphs/BubbleHeatmapGraph2/BubbleHeatmapGraph2.js
Due: frontend

fix: per-gene breakdown for combined 'Ciprofloxacin' aggregate
  client/src/components/Dashboard/filters.js
Due: frontend

fix: two Cipro display bugs
  client/src/components/Elements/Graphs/BubbleMarkersHeatmapGraph/BubbleMarkersHeatmapGraph.js
  client/src/util/drugs.js
Due: frontend

feat: acrB_R717 subset toggle for non-typhoidal Salmonella
  client/src/components/Dashboard/Dashboard.js
  client/src/components/Dashboard/filters.js
  client/src/components/Elements/Map/TopLeftControls/TopLeftControls.js
  client/src/stores/slices/mapSlice.ts
  client/src/util/drugClassesRules.js
Due: frontend

Revert "feat: acrB_R717 subset toggle for non-typhoidal Salmonella"
  client/src/components/Dashboard/Dashboard.js
  client/src/components/Dashboard/filters.js
  client/src/components/Elements/Map/TopLeftControls/TopLeftControls.js
  client/src/stores/slices/mapSlice.ts
  client/src/util/drugClassesRules.js
Due: frontend

perf: speed up aggregation queries 4-5x
  routes/api/aggregations.js
  routes/api/optimized.js
  routes/api/publicApi.js
  scripts/create-indexes.js
Due: backend

feat(i18n): extract Report PDF copy to locale resources
  client/src/components/Elements/DownloadData/DownloadData.js
  client/src/locales/en.json
  client/src/util/reportInfoTexts.js
Due: frontend

feat(i18n): localize country names via Intl.DisplayNames
  client/src/components/Elements/ContinentGraphs/BubbleGeographicGraph/BubbleGeographicGraph.js
  client/src/components/Elements/Map/Map.js
  client/src/components/Elements/SelectCountry/SelectCountry.js
  client/src/util/countryLocalization.js
Due: frontend

feat(i18n): translate hardcoded English in 5 user-facing surfaces
  client/src/components/Elements/Graphs/GenomicVsPhenotypicGraph/GenomicVsPhenotypicGraph.js
  client/src/components/Elements/Graphs/RadarProfileGraph/RadarProfileGraph.js
  client/src/components/Elements/Map/Map.js
  client/src/components/Elements/Map/MapFilters/MapFilters.js
  client/src/components/Elements/SelectCountry/SelectCountry.js
  client/src/locales/en.json
  client/src/locales/es.json
  client/src/locales/fr.json
  client/src/locales/pt.json
Due: frontend

feat: enhance layout and styling of PDF report cover card
  client/src/components/Elements/DownloadData/PDFPreviewModal.js
Due: frontend

feat(api): swap Swagger UI logo for AMRnet icon
  routes/api/swagger.js
Due: backend

docs(api): add 'Request an API key' instructions to Swagger UI
  routes/api/swagger.js
Due: backend

style: align api-register page with AMRnet purple + tidy README
  README.md
  routes/api/apiRegistration.js
Due: backend

fix: ngono Radar resistantCount + NG-MAST default selection
  client/src/components/Dashboard/filters.js
  client/src/components/Elements/Graphs/BubbleMarkersHeatmapGraph/BubbleMarkersHeatmapGraph.js
Due: frontend

style(pdf): tweak Download PDF button color + linkify citation
  client/src/components/Elements/DownloadData/PDFPreviewModal.js
Due: frontend

feat(amrInsights): Stratified Resistance — One Health source + LIN code
  client/src/components/Elements/AMRInsights/AMRInsights.js
  client/src/components/Elements/Graphs/StratifiedResistanceGraph/StratifiedResistanceGraph.js
  client/src/components/Elements/Graphs/StratifiedResistanceGraph/StratifiedResistanceGraphMUI.js
  client/src/components/Elements/Graphs/StratifiedResistanceGraph/index.js
  client/src/locales/en.json
  client/src/locales/pt.json
Due: frontend

fix(api): expose source_niche / source_type / LINcode_* fields
  routes/api/api.js
Due: backend

Add LINcode × Genotype heatmap and related data enhancements
  client/src/components/Elements/AMRInsights/AMRInsights.js
  client/src/components/Elements/Graphs/LINcodeGenotypeGraph/LINcodeGenotypeGraph.js
  client/src/components/Elements/Graphs/StratifiedResistanceGraph/StratifiedResistanceGraph.js
  client/src/data/lincode_shigella_lookup.json
  client/src/locales/en.json
  routes/api/api.js
Due: frontend, backend

fix(ContinentGraphs): conditionally render Radar Profile tab based on production environment
  client/src/components/Elements/ContinentGraphs/ContinentGraphs.js
Due: frontend

fix(dashboard): block dev-only organisms from URL deep-link in prod
  client/src/components/Dashboard/Dashboard.js
  client/src/components/Dashboard/DashboardOptimizedIntegration.js
  client/src/util/organismsCards.js
Due: frontend

docs: gate saureus/strepneumo pages behind a dev build tag
  docs/conf.py
  docs/data.rst
  docs/pathogen.rst
Due: none

chore: remove orphaned per-language Read the Docs config files
  .readthedocs-es.yml
  .readthedocs-fr.yml
  .readthedocs-pt.yml
Due: none

Rearrange drugs list
  client/src/util/drugClassesRules.js
  client/src/util/drugs.js
Due: frontend

Scale removed fro GD plot and Scale change to limit
  client/src/components/Elements/Graphs/DistributionGraph/DistributionGraph.js
  client/src/components/Elements/Graphs/DrugResistanceGraph/DrugResistanceGraph.js
  client/src/components/Elements/Graphs/KOTrends/KOTrendsGraph.js
  client/src/components/Elements/Graphs/MarkerTrendsGraph/MarkerTrendsGraph.js
  client/src/locales/en.json
  client/src/locales/es.json
  client/src/locales/fr.json
  client/src/locales/pt.json
Due: frontend

Organism Name correction
  client/src/components/Elements/SelectOrganism/SelectOrganism.js
  client/src/locales/en.json
  client/src/locales/es.json
  client/src/locales/fr.json
  client/src/locales/pt.json
Due: frontend

the drugs selected in the dropdown list are displayed in the DRT plot
  routes/api/aggregations.js
Due: backend

Path conditions:
  frontend: any of: client/src/, but not: client/src/reportWebVitals.js, client/src/setupTests.js, client/src/registerServiceWorker.js, **/*.test.js, **/*.spec.js, **/node_modules/**, scripts/**, docs/**, assets/**
  backend: any of: routes/, models/, controllers/, config/, services/, but not: client/src/reportWebVitals.js, client/src/setupTests.js, client/src/registerServiceWorker.js, **/*.test.js, **/*.spec.js, **/node_modules/**, scripts/**, docs/**, assets/**
