Repository amrnet/amrnet: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

comment: false

coverage:
  precision: 2
  round: nearest
  range: "60...85"

  status:
    project:
      default:
        target: auto
        threshold: 5%
        base: auto
        # Only fail if coverage drops significantly
        if_not_found: success

    patch:
      default:
        target: auto
        threshold: 5%
        base: auto
        if_not_found: success

# Ignore certain files from coverage
ignore:
  - "client/src/reportWebVitals.js"
  - "client/src/setupTests.js"
  - "client/src/registerServiceWorker.js"
  - "**/*.test.js"
  - "**/*.spec.js"
  - "**/node_modules/**"
  - "scripts/**"
  - "docs/**"
  - "assets/**"

# Coverage reporting for different components
flag_management:
  default_rules:
    carryforward: true

flags:
  frontend:
    paths:
      - client/src/
    ignore:
      - client/src/setupTests.js
      - client/src/reportWebVitals.js

  backend:
    paths:
      - routes/
      - models/
      - controllers/
      - config/
      - services/

Add internationalization support and improve translations across components
  client/src/components/Elements/Header/Header.js
  client/src/components/Elements/Map/Map.js
  client/src/components/Elements/Map/MapFilters/MapFilters.js
  client/src/components/Elements/Map/OptimizedMapFilters/OptimizedMapFilters.js
  client/src/components/Elements/Note/Note.js
  client/src/components/Home/Home.js
  client/src/components/Layout/MainLayout.js
  client/src/locales/en.json
  client/src/locales/es.json
  client/src/locales/fr.json
  client/src/locales/pt.json
Due: frontend

feat: Refactor Header, Map, and Note components for improved readability and maintainability; add translation support in MapFilters and OptimizedMapFilters
  client/src/components/Elements/Header/Header.js
  client/src/components/Elements/Map/Map.js
  client/src/components/Elements/Map/MapFilters/MapFilters.js
  client/src/components/Elements/Map/OptimizedMapFilters/OptimizedMapFilters.js
  client/src/components/Elements/Note/Note.js
Due: frontend

feat: Implement internationalization for various components and add PlottingOptionsHeader
  client/locales/en.json
  client/locales/es.json
  client/locales/fr.json
  client/locales/pt.json
  client/src/components/Elements/ContinentGraphs/ContinentGraphs.js
  client/src/components/Elements/ContinentGraphs/TrendLineGraph2/TrendLineGraph2.js
  client/src/components/Elements/DownloadData/DownloadData.js
  client/src/components/Elements/FloatingGlobalFilters/FloatingGlobalFilters.js
  client/src/components/Elements/Graphs/BubbleMarkersHeatmapGraph/BubbleMarkersHeatmapGraph.js
  client/src/components/Elements/Graphs/ConvergenceGraph/ConvergenceGraph.js
  client/src/components/Elements/Graphs/DrugResistanceGraph/DrugResistanceGraph.js
  client/src/components/Elements/Graphs/FrequenciesGraph/FrequenciesGraph.js
  client/src/components/Elements/Graphs/Graphs.js
  client/src/components/Elements/Graphs/TrendsGraph/TrendsGraph.js
  client/src/components/Elements/Header/Header.js
  client/src/components/Elements/InformationCards/InformationCards.js
  client/src/components/Elements/Map/MapActions/DownloadMapSS.js
  client/src/components/Elements/Map/MapActions/MapActions.js
  client/src/components/Elements/Map/MapFilters/MapFilters.js
  client/src/components/Elements/Map/TopLeftControls/TopLeftControls.js
  client/src/components/Elements/Shared/PlottingOptionsHeader.js
  client/src/locales/en.json
  client/src/locales/es.json
  client/src/locales/fr.json
  client/src/locales/pt.json
  client/src/util/mapLegends.js
Due: frontend

senterica/ints geo comp and mapview fixed (Amp, carb, ESBL values)
  client/src/components/Dashboard/filters.js
Due: frontend

Ints MapView
  client/src/components/Elements/Map/MapFilters/MapFilters.js
Due: frontend

ecoli data fixed
  routes/api/api.js
Due: backend

AMR Trends: Investigate and correct the anomalous 100% Ampicillin resistance prevalence.
  client/src/util/drugClassesRules.js
Due: frontend

fix issues with colour changes
  client/src/components/Elements/Graphs/DistributionGraph/DistributionGraph.js
Due: frontend

Map dropdown Name value fixed
  client/src/components/Elements/Map/MapFilters/MapFilters.js
Due: frontend

Remove comment
  client/src/components/Elements/Map/MapFilters/MapFilters.js
Due: frontend

fix start for Windows
  client/package.json
Due: none

Reposition `Accessibility colour control` button
  client/src/components/Dashboard/Dashboard.js
  client/src/components/Elements/ResetButton/ResetButton.js
  client/src/components/Elements/SwitchColour/SwitchColour.js
  client/src/components/Elements/SwitchColour/SwitchColourMUI.js
Due: frontend

fix readthedocs issue with language switch
  docs/index.rst
  docs/locale/es/LC_MESSAGES/index.po
Due: none

reposition switchcolour
  client/src/components/Elements/ResetButton/ResetButton.js
Due: frontend
